<html>
<head>
    <title>Stroke! chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        form {
            position: fixed;
            bottom: 0;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Stroke! chat</a>
        </div>
        <p id="status" class="navbar-text navbar-right"></p>
    </div>
</nav>
<div class="container-fluid">
    <ul id="messages" class="list-group"></ul>
    <form>
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <input id="message" type="text" class="form-control" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    socket.on('chat message', function(msg){
        $('#messages').append($('<li class="list-group-item">').text(msg));
    });

    socket.on('connect', function(){
        $('#status').empty().append('Verbunden');
    });

    socket.on('disconnect', function(){
        $('#status').empty().append('Getrennt');
    });

    socket.on('reconnecting', function(){
        $('#status').empty().append('Verbindungsaufbau');
    });

    $('form').submit(function(){
        var msg = $('#message');
        socket.emit('chat message', msg.val());
        msg.val('');
        return false;
    });
</script>
</body>
</html>